* {
    border: none;
    border-radius: 0;
    font-family: "Symbols Nerd Font Mono", "JetBrainsMono Nerd Font", "azuki_font";
    font-size: 11px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: white;
}

tooltip {
	background: #181825;
	border-radius: 10px;
	border-style: solid;
}

#workspaces button {
    padding: 5px 10px;
    color: #5E81AC;
}

#workspaces button.active {
    color: #181825;
    background-color: #A92A4F;
    border-radius: 10px;
}

#workspaces button.urgent {
    color: #0f0f0f;
    background-color: #9ec3c4;
    border-radius: 10px;
}

#workspaces button:hover {
	background-color: #E06C75;
	color: #0f0f0f;
	border-radius: 10px;
}

#custom-date, #custom-notification, #custom-media, #custom-updates, #custom-downloads, #window, #clock, #disk, #cpu, #memory, #battery, #pulseaudio, #network, #submap, #workspaces, #tray, #custom-recording {
	background-color: #11111b;
	padding: 5px 10px;
	margin: 5px 0px 0px 0px;
}

#custom-recording {
  color: #d20f30;
}

#window {
  color: #cdd6f4;
  border-radius: 8px;
  margin-left: 10px;
  border: 1px solid #5E81AC;
}

#submap {
  color: #cdd6f4;
}

#custom-media {
	color: #f9e2af;
}

#custom-notification {
  color: #eb6f92;
}

#tray {
  padding-left: 15px;
  border-top: 1px solid #5E81AC;
  border-bottom: 1px solid #5E81AC;
}

#workspaces {
	background-color: #181825;
	border-radius: 8px 0px 0px 8px;
  border-left: 1px solid #5E81AC;
  border-top: 1px solid #5E81AC;
  border-bottom: 1px solid #5E81AC;
}

#custom-date {
  color: #74c7ec;
  border-radius: 0px 8px 8px 0px;
  margin-right: 10px;
  border-right: 1px solid #5E81AC;
  border-top: 1px solid #5E81AC;
  border-bottom: 1px solid #5E81AC;
}

#custom-updates {
   color: #9ccfd8;
}

#custom-downloads {
   color: #f6c177;
}

#clock {
  color: #cba6f7;
	border-radius: 8px 0px 0px 8px;
  border-left: 1px solid #5E81AC;
  border-top: 1px solid #5E81AC;
  border-bottom: 1px solid #5E81AC;
}

#network {
	color: #9ccfd8;
  border-top: 1px solid #5E81AC;
  border-bottom: 1px solid #5E81AC;
}

#battery {
	color: #c4a7e7;
  border-top: 1px solid #5E81AC;
  border-bottom: 1px solid #5E81AC;
}

#battery.charging {
	color: #E98CA4;
  border-top: 1px solid #5E81AC;
  border-bottom: 1px solid #5E81AC;
}

#battery.plugged {
	color: #C678DD;
  border-top: 1px solid #5E81AC;
  border-bottom: 1px solid #5E81AC;
}

#cpu {
	color: #fab387;
  border-top: 1px solid #5E81AC;
  border-bottom: 1px solid #5E81AC;
}

#disk {
  color: #94e2d5;
  border-top: 1px solid #5E81AC;
  border-bottom: 1px solid #5E81AC;
}

#memory {
	color: #a6e3a1;
  border-top: 1px solid #5E81AC;
  border-bottom: 1px solid #5E81AC;
}

#pulseaudio {
	color: #9ccfd8;
  border-radius: 0px 8px 8px 0px;
  border-right: 1px solid #5E81AC;
  border-top: 1px solid #5E81AC;
  border-bottom: 1px solid #5E81AC;
}
