* {
    border: none;
    border-radius: 0;
    font-family: "Symbols Nerd Font Mono", "Cascadia Code";
    font-weight: bold;
    font-size: 11px;
    min-height: 0;
}

window#waybar {
    background: #181825;
    color: #cdd6f4;
}

tooltip {
    background: #1e1e2e;
    opacity: 0.8;
    border-radius: 6px;
    border-width: 2px;
    border-style: solid;
    border-color: #11111b;
}

tooltip label{
    color: #cdd6f4;
}

#workspaces button {
    padding: 0px;
    color: #8aadf4;
    margin-right: 5px;
}

#workspaces button.active {
    color: #a6e3a1;
}

#workspaces button.focused {
    color: #ed8796;
}

#workspaces button.urgent {
    color: #11111b;
    background: #a6e3a1;
    border-radius: 10px;
}

#workspaces button:hover {
    background: #11111b;
    color: #cdd6f4;
    border-radius: 10px;
}

#custom-launch_wofi,
#custom-notification
#window,
#cpu,
#disk,
#tray,
#memory,
#clock,
#battery,
#pulseaudio,
#pulseaudio.microphone,
#workspaces,
#backlight {
    padding: 0px 6px;
}

#cpu,
#memory,
#disk,
#backlight,
#pulseaudio,
#pulseaudio.microphone {
    background: #313244;
    margin: 3px 0px 3px 0px;
}

#backlight,
#cpu {
    border-radius: 4px 0px 0px 4px;
}

#pulseaudio.microphone,
#disk {
    border-radius: 0px 4px 4px 0px;
}

#workspaces {
    padding-right: 0px;
    padding-left: 5px;
}

#window {
    color: #DCE0E8;
}

#custom-launch_wofi {
    color: #89b4fa;
    margin-left: 4px;
}

#custom-notification {
  color: #f9e2af;
  margin-left: 6px;
  margin-right: 6px;
}

#custom-recording {
  color: #d20f30;
}

#custom-pacman {
  color: #babbf1;
  margin-left: 4px;
}
#custom-pacman.pending-updates {
  color: #94E2D5;
  margin-left: 4px;
}

@keyframes blink {
  to {
    background-color: rgba(30, 34, 42, 0.5);
    color: #abb2bf;
  }
}

#battery.critical:not(.charging) {
  background-color: #f53c3c;
  color: #abb2bf;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
