window {
    margin: 2px;
    border: 2px solid;
    border-color: #313244;
    background-color: #11111b;
    border-radius: 10px;
    font-family: azuki_font;
    font-size: 16px;
}

#input {
    padding: 2px;
    margin: 4px;
    margin-bottom: 8px;
    border: none;
    color: #6c7086;
    background-color: #313244;
   	outline: none;
}

#inner-box {
    margin: 2px;
    border: 0px solid;
    background-color: #1e1e2e;
    border-radius: 8px;
}

#outer-box {
    margin: 5px;
    border: none;
    border-radius: 8px;
    background-color: #181825;
}

#scroll {
    margin: 0px;
    border: none;
}

#text:selected {
    color: #cdd6f4;
    margin: 0px 0px;
    border: none;
    border-radius: 8px;
}

#entry {
    margin: 0px 0px;
    border: none;
    border-radius: 0px;
    background-color: transparent;
}

#entry:selected {
    margin: 0px 0px;
    border: none;
    border-radius: 8px;
    background-color: #313244;
}
