*{
	all: unset;
	font-family: "Cascadia Code";
}

.genwin {
	background-color: transparent;
	border-radius: 10px;
}

.keys {
	color: #cdd6f4;
	font-size : 13px;
	font-weight : bold;
	margin : 0px 0px 0px 0px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.logohypr {
	background-size: 300px;
	min-height: 120px;
	min-width: 300px;
	// margin: 25px 0px 0px 0px;
	background-repeat: no-repeat;
}

.logoarch {
	background-size: 330px;
	min-height: 120px;
	min-width: 330px;
	// margin: 25px 0px 0px 0px;
	background-repeat: no-repeat;
}
